apiVersion: v1
kind: Pod
metadata:
  name: pod-env-vars
  labels:
    app: demo
    type: env-vars
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    env:
    - name: ENVIRONMENT
      value: "production"
    - name: APP_NAME
      value: "my-app"
    - name: VERSION
      value: "1.0.0"
    - name: DEBUG
      value: "false"

