apiVersion: batch/v1
kind: CronJob
metadata:
  name: long-running
  namespace: cwiczenia
spec:
  schedule: "*/1 * * * *"
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: sleeper
            image: busybox:latest
            command: ["/bin/sh", "-c"]
            args: ["sleep 90"]
          restartPolicy: OnFailure

