apiVersion: batch/v1
kind: CronJob
metadata:
  name: weekly-cleanup
  namespace: cwiczenia
spec:
  schedule: "0 3 * * 1"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cleanup
            image: busybox:latest
            command: ["/bin/sh", "-c"]
            args: ["echo 'Weekly cleanup executed at $(date)'"]
          restartPolicy: OnFailure

