apiVersion: batch/v1
kind: CronJob
metadata:
  name: daily-backup
  namespace: cwiczenia
spec:
  schedule: "0 2 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: backup
            image: busybox:latest
            command: ["/bin/sh", "-c"]
            args: ["echo 'Daily backup executed at $(date)'"]
          restartPolicy: OnFailure

