apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-rom
  namespace: cwiczenia
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: azurefile

