apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-rwm
  namespace: cwiczenia
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  storageClassName: azurefile

