apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fast-pvc
  namespace: cwiczenia
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: fast-ssd

