version: "3.8"
services:
  web:
    build: ./frontend
    depends_on:
      - api
    ports:
      - "3000:3000"
    networks:
      - network-backend
  api:
    build: ./backend
    environment:
      MONGODB_URI: mongodb://root:password@mongo:27017/todos?authSource=admin
    depends_on:
      - mongo
    ports:
      - "3001:3001"
    networks: 
     - network-backend
    # deploy:
    #   replicas: 3
  
  mongo:
    image: mongo:latest
    restart: always
    command: mongod --auth
    volumes: 
      - mongodb_data:/data/db
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro
    environment: 
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    # ports:
    #   - 27017:27017
    networks: 
     - network-backend
   

  mongo-express:
    image: mongo-express:latest
    restart: always
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: pass
    depends_on:
      - mongo
    networks:
      - network-backend

networks:
  network-backend:

volumes: 
  mongodb_data:
