apiVersion: v1
kind: Service
metadata:  
  name: nginx-clusterip
spec:
  selector:    
    app: webapp
    environment: production
  type: ClusterIP
  ports:  
  - name: http
    port: 88
    targetPort: 80
    protocol: TCP