apiVersion: v1
kind: Service
metadata:  
  name: nginx-resources-2
spec:
  selector:    
    app: nginx
  type: LoadBalancer
  ports:  
  - name: http
    port: 99
    targetPort: 80
    protocol: TCP