apiVersion: v1
kind: Pod
metadata:
  name: nginx-env
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    env:
    - name: ENV_NAME
      value: "production"
    - name: APP_VERSION
      value: "1.0.0"

