# MetalLB Configuration - Layer 2 Mode
# Przykładowa konfiguracja dla trybu Layer 2 (najprostszy tryb)
# 
# Instalacja:
# 1. Zainstaluj MetalLB: kubectl apply -f https://raw.githubusercontent.com/metallb/metallb/v0.15.2/config/manifests/metallb-native.yaml
# 2. Zastosuj tę konfigurację: kubectl apply -f metallb-config-l2.yaml
# 3. Sprawdź: kubectl get ipaddresspool,l2advertisement -n metallb-system

---
# Pula adresów IP dla usług LoadBalancer
# UWAGA: Zmień zakres adresów na dostępne w Twojej sieci!
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    # Zakres adresów IP do przypisania usługom LoadBalancer
    # Przykład: 192.168.1.240-192.168.1.250 (11 adresów)
    - 192.168.1.240-192.168.1.250
  # autoAssign: true oznacza automatyczne przypisywanie IP
  # false wymaga ręcznego przypisania przez adnotację w Service
  autoAssign: true

---
# Ogłoszenie adresów IP w trybie Layer 2
# MetalLB będzie odpowiadał na zapytania ARP dla adresów z puli
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-l2
  namespace: metallb-system
spec:
  # Referencja do puli adresów IP
  ipAddressPools:
    - default-pool
  # Opcjonalnie: ograniczenie do konkretnych węzłów
  # nodeSelectors:
  #   - matchLabels:
  #       kubernetes.io/hostname: node-1

